.parent {
  width: min-content;
  height: max-content;
  border: 6px solid rgb(139, 121, 121);
  margin-top: 2rem;
  border-radius: 16px;
  gap: 0.25rem;
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;
  overflow: hidden;
  background-color: black;
}

.child {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: white;
  cursor: pointer;
}

.child:hover {
  background-color: darkgray;
}

.winner {
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
}
