.parent {
  min-width: 300px;
  width: 60%;
  max-width: 500px;
  min-height: 400px;
  height: 50%;
  max-height: 600px;
  border: 6px solid rgb(139, 121, 121);
  margin-top: 2rem;
  border-radius: 16px;
  gap: 0.25rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  background-color: black;
}

.child {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: white;
  cursor: pointer;
}

.child:hover {
  background-color: darkgray;
}

.winner {
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
}
